# Set up dask client

In [3]:
! ls *csv

dataset_weekends.csv

In [11]:
import dask.dataframe as dd
from dask.distributed import Client, progress

client = Client()

df = dd.read_csv('nmi_data_20181029__weekends.csv')

df.head()

,nmi_uuid,date,ekw1,ekw2,ekw3,ekw4,ekw5,ekw6,ekw7,ekw8,...,ekw39,ekw40,ekw41,ekw42,ekw43,ekw44,ekw45,ekw46,ekw47,ekw48
0,ed8a8330-7dae-4ebe-a5c8-6f9404b9ed97,2018-02-03,15.192,10.604,9.540,9.286,9.886,8.496,8.362,7.936,...,9.214,16.342,15.406,18.612,19.594,16.332,13.056,11.608,14.394,11.632
1,ed8a8330-7dae-4ebe-a5c8-6f9404b9ed97,2018-02-04,12.740,11.592,10.798,11.090,10.790,11.180,11.224,10.570,...,14.490,14.354,11.082,11.426,12.078,12.482,13.038,11.298,10.920,11.612
2,ed8a8330-7dae-4ebe-a5c8-6f9404b9ed97,2018-02-10,8.128,6.408,5.932,6.530,7.798,6.310,5.790,7.720,...,9.444,17.104,12.032,15.442,14.844,11.848,12.878,14.720,11.002,16.240
3,ed8a8330-7dae-4ebe-a5c8-6f9404b9ed97,2018-02-11,8.566,8.950,9.842,7.952,10.110,9.262,9.326,9.202,...,13.354,16.060,15.406,13.020,14.538,14.678,12.000,10.712,8.834,8.602
4,ed8a8330-7dae-4ebe-a5c8-6f9404b9ed97,2018-02-17,11.164,11.848,10.672,10.864,12.272,10.894,11.284,10.094,...,14.466,4.096,18.278,16.298,14.402,14.344,13.460,12.142,10.570,10.648

In [12]:
nmi_column = df.columns[0]
data_columns = df.columns[2:]
means = df.groupby('nmi_uuid')[[f'ekw{i+1}' for i in range(48)]].mean()

means = client.compute(means)
progress(means)

VBox()

In [13]:
means.result().to_csv('weekday_groupby_means.csv')

print('Done!')

Done!

# Read in reduced dataset to memory and perform clustering